# rscmgr rc file
on property:sys.readahead.resource=1
	readahead /system/priv-app/SamsungGallery2018/SamsungGallery2018.apk --fully
	readahead /system/priv-app/SecMyFiles2020/SecMyFiles2020.apk --fully
	readahead /data/app/Notes40_Removable/Notes40_Removable.apk --fully
	readahead /system/priv-app/SamsungContacts/SamsungContacts.apk --fully

on property:sys.readahead.resource=2
	readahead /system/priv-app/SamsungMessages/SamsungMessages.apk --fully
	readahead /system/app/HoneyBoard/oat/arm64/HoneyBoard.vdex --fully
	readahead /system/app/HoneyBoard/oat/arm64/HoneyBoard.odex --fully
	readahead /system/app/HoneyBoard/HoneyBoard.apk --fully
	readahead /system/priv-app/SecSettings/SecSettings.apk --fully
	readahead /system/app/SamsungCalendar/SamsungCalendar.apk --fully		

on property:sys.readahead.resource=3
	readahead /system/app/SBrowser/SBrowser.apk --fully
	setprop sys.readahead.resource 0
